.course-editor.fas {
    color: #007bff
}

.nav-item {
    margin: 5px;
    padding: 10px;
}

.list-group-item.active i,
.list-group-item.active a,
.list-group-item.highlight i,
.list-group-item.highlight a,
.nav-item.highlight i {
    color: white;
}

.nav-item.highlight {
    background-color: #007bff;
}

.add-module-icon {
    padding-left: 45%
}

